[Desktop Entry]
Type=Application
Name=Spotify
GenericName=Music Player
Comment=Spotify with adaptive Caelestia theme
Icon=spotify-launcher
TryExec=devos-spotify
Exec=devos-spotify %U
Terminal=false
MimeType=x-scheme-handler/spotify;
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=spotify
